//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================


//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face {
	font-family: 'AkzidenzGroteskBQ';
	src: url('../fonts/AkzidenzGroteskBQ-BdCnd/AkzidenzGroteskBQ-BdCnd.eot');
	src: url('../fonts/AkzidenzGroteskBQ-BdCnd/AkzidenzGroteskBQ-BdCnd.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AkzidenzGroteskBQ-BdCnd/AkzidenzGroteskBQ-BdCnd.woff2') format('woff2'),
	url('../fonts/AkzidenzGroteskBQ-BdCnd/AkzidenzGroteskBQ-BdCnd.woff') format('woff'),
	url('../fonts/AkzidenzGroteskBQ-BdCnd/AkzidenzGroteskBQ-BdCnd.ttf') format('truetype'),
	url('../fonts/AkzidenzGroteskBQ-BdCnd/AkzidenzGroteskBQ-BdCnd.svg#AkzidenzGroteskBQ-BdCnd') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas-Regular/Bebas-Regular.eot');
	src: url('../fonts/Bebas-Regular/Bebas-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bebas-Regular/Bebas-Regular.woff2') format('woff2'),
	url('../fonts/Bebas-Regular/Bebas-Regular.woff') format('woff'),
	url('../fonts/Bebas-Regular/Bebas-Regular.ttf') format('truetype'),
	url('../fonts/Bebas-Regular/Bebas-Regular.svg#Bebas-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
//</Подключаем шрифты>=======================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily: 'PT Sans', sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:880;
$md1:$mw+12;
$md2:680.98;
$md3:550.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
.ibg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	img{display: none;}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЯ>=========================================================================================================
@import "header";
//</ПОДКЛЮЧЕНИЯ>=========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================


//<ОСНОВНОЙ БЛОК>===========================================================================================================

.catering__body {
	@include flexbox();
}
.catering__column {
	background-color: #000;
	flex: 0 0 50%;
	&:last-child{
		padding: 75px 60px;
		@media (max-width:$md1+px){
			padding: 60px 40px;
		}
		@media (max-width:$md2+px){
			flex: 1 1 100%;
		}
	}
	&:first-child{
		@media (max-width:$md2+px){
			display: none;
		}
	}
}
.catering__title {
	color: #ffffff;
	font-family: "AkzidenzGroteskBQ";
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 50px;
	font-weight: 400;
	font-size: 50px;
}
.catering__text {
	color: #ffffff;
	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	max-width: 310px;
	margin: 25px 0px 50px;
	@media (max-width:$md1+px){
		max-width: none;
	}
}
.catering__btns {
	@media (max-width:$md3+px){
		@include flexbox();
		flex-direction: column;
	}
	.btn-link{
		margin-left: 15px;
		@media (max-width:$md3+px){
			margin: 15px 0px 0px 0px;
		}
	}
}
.catering__image{
	height: 100%;
}

// <PRODUCTS> =====================

.products {
	padding: 75px 10px;
	@media (max-width:$md3+px){
		padding: 50px 0;
	}
}
.products-body {
	@include flexbox();
	flex-wrap: wrap;
}
.products-item {
	flex: 0 0 25%;
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	@media (max-width:$md2+px){
		flex: 0 0 50%;
		margin-bottom: 30px;
	}
	@media (max-width:430px){
		flex: 1 1 100%;
		margin-bottom: 50px;
	}
}
.products-item__image {
	padding: 0px 0px 100% 0px;
}
.products-item__title {
	color: #000000;
	font-family: "AkzidenzGroteskBQ", sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 27px 0px 27px 0px;
	padding: 0px 35px 0px 5px;
	a{
		color: #000;
		@include anim(0.3s,0s);
		&:hover{
			color: #222;
		}
	}
	@media (max-width:$md3+px){
		margin: 20px 0px 20px 0px;
		padding: 0px 35px 0px 0px;
	}

}
.products-item__text {
	padding: 0px 30px 0px 5px;
	margin: 0px 0px 0px 0px;
	color: #000000;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	min-height: 100px;
	@media (max-width:$md1+px){
		margin: 0px 0px 32px 0px;
		padding: 0px 5px 0px 0px;
	}
	@media (max-width:$md2+px){
		min-height: auto;
	}
	@media (max-width:$md3+px){
		margin: 0px 0px 20px 0px;
	}
}
.products-btns {
	@include flexbox();
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 0px 0px 5px;
	.btn {
		margin: 0px 0px 25px 0px;
		padding: 13px 30px;
		@media (max-width:$md3+px){
			margin: 0px 0px 10px 0px;
		}
	}
	@media (max-width:$md3+px){
		padding: 0px 0px 0px 0px;
	}
}

// <WHYUS> =====================
.whyus-top {
	background-color: #000;
	@include flexbox();
}
.whyus-top__column {
	flex: 0 0 50%;
	&:first-child{
		padding: 57px 61px;
		text-align: right;
		@media (max-width:$md1+px){
			padding: 50px 20px 50px 20px;
		}
		@media (max-width:$md2+px){
			flex: 1 1 100%;
			text-align: center;
			padding: 40px 0px;
		}
	}
	@media (max-width:$md2+px){
		&:last-child{
			display: none;
		}
	}
}
.whyus-top__title {
	color: #ffffff;
	font-family: "AkzidenzGroteskBQ", sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 37px;
	margin-right: -5px;
	@media (max-width:1024px){
		font-size: 42px;
	}
	@media (max-width:($md1 + 10) +px){
		font-size: 36px;
	}
}
.whyus-top__image {
	height: 100%;
}

.whyus-wrap{
	background-color: #ebebeb;
	padding: 0 10px;
}
.whyus-body {
	@include flexbox();
	padding: 50px 0px 0px 0px;
	flex-wrap: wrap;
	@media (max-width:$md3+px){
		padding: 50px 0px 0px 0px;
	}
}
.whyus-item {
	@include flexbox();
	flex: 0 0 50%;
	margin: 0px 0px 50px 0px;
	align-items: flex-start;
	padding: 0px 10px 0px 0px;
	@media (max-width:$md3+px){
		flex: 1 1 100%;
		padding: 0px 0px 0px 0px;
	}
}
.whyus-item__icon {
	padding: 18px 20px;
	background-color: #000;
	margin: 0px 10px 0px 0px;
	img{
		width: 65px;
		height: 65px;
	}
}
.whyus-item__info {
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.whyus-item__title {
	color: #000000;
	font-family: "AkzidenzGroteskBQ", sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	@media (max-width:$md1+px){
		font-size: 20px;
	}
}
.whyus-item__text {
	color: #000000;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	@media (max-width:$md1+px){
		font-size: 13px;
		line-height: 20px;
	}
}

// <SAYHELLO> =====================
#map{
	height: 475px;
}

.sayhello {
	padding: 73px 10px 0px 10px;
	@media (max-width:$md2+px){
		padding: 50px 0px 0px 0px;
	}
}
.sayhello-top{
	@media (max-width:$md3+px){
		padding: 0px 0px 0px 0px;
	}
}
.sayhello-top__title {
	color: #000000;
	font-family: "AkzidenzGroteskBQ", sans-serif;
	font-size: 50px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.sayhello-contacts {
	@include flexbox();
	flex-wrap: wrap;
	margin: 22px 0px 0px 0px;
}
.sayhello-contacts__item {
	color: #000000;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	flex: 0 0 50%;
	margin-bottom: 25px;
	a{
		color: #000000;
		text-decoration: none;
		&:hover{
			color: #252525;
		}
	}
	@media (max-width:$md2+px){
		flex: 1 1 100%;
	}
}
.icon-contact {
	padding-left: 33px;
}
.icon-contact--map {
	background:transparent url('../img/sayhello/icons/01.svg') left center no-repeat;
	background-size: 20px 26px;
}
.icon-contact--mail {
	background:transparent url('../img/sayhello/icons/02.svg') left center no-repeat;
	background-size: 27px 19px;
}
.icon-contact--phone {
	background:transparent url('../img/sayhello/icons/03.svg') left center no-repeat;
	background-size: 19px 25px;
}
.social {
	@include flexbox();
}
.social__item {
	margin-right: 25px;
}
.sayhello-body {
	@include flexbox();
	flex-wrap: wrap;
	background-color: #000;
	margin: 0 -10px;
	@media (max-width:$md3+px){
		margin: 0px 0px 0px 0px;
	}
}
.sayhello__column {
	flex: 0 0 50%;
	&:last-child{
		padding: 44px 60px 50px 60px;
		@media (max-width:$md1+px){
			padding: 40px;
		}
		@media (max-width:380px){
			padding: 40px 25px;
		}
	}
	@media (max-width:$md2+px){
		flex: 1 1 100%;
		&:last-child{
			order: 1;
		}
		&:first-child{
			order: 2;
		}
	}
}
.sayhello-form__title {
	color: #ffffff;
	font-family: "AkzidenzGroteskBQ", sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin-bottom: 20px;
}

.sayhello-form {
	display: flex;
	flex-wrap: wrap;
	max-width: 375px;
}
.sayhello-form__input {
	flex: 1 1 100%;
	margin-bottom: 27px;
}
.sayhello-form__textarea {
	flex: 1 1 100%;
	margin-bottom: 27px;
	height: 98px;
}
.sayhello-form__btn.btn{
	padding: 13px 21px;
}

#map{
	width: 100%;
	height: 100%;
	min-height: 475px;
	@media (max-width:$md2+px){
		min-height: 200px;
	}
}

//</ОСНОВНОЙ БЛОК>===========================================================================================================

//<ПОДКЛЮЧЕНИЯ>=========================================================================================================
@import "forms";
@import "footer";
//</ПОДКЛЮЧЕНИЯ>=========================================================================================================